$main-color: #eb5757;

.form__container {
  width: 35%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c4c4;
  padding: 100px 10px;
  margin: auto;
  box-shadow:
    10px 5px 20px rgba(0, 0, 0, 0.1),
    -10px 5px 20px rgba(0, 0, 0, 0.1);

  @media (max-width: 900px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 80%;
  }
  @media (max-width: 200px) {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.field__wrapper {
  width: 100%;
  margin-bottom: 5px;
  .form__input-wrapper {
    .error {
      visibility: visible;
      height: 14px;
    }
  }
}

.form__label {
  align-self: flex-start;
  max-width: 100%;
}

.field__required {
  color: $main-color;
}

.form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.form__input {
  max-width: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  font: inherit;
  line-height: 125%;
  resize: none;
  &.form__textarea {
    max-width: 100%;
  }
}

.form__button_submit {
  width: 270px;
  max-width: 100%;
}

.form__message {
  height: 24px;
  visibility: hidden;
}

.error {
  padding: 5px;
  position: relative;
  background-color: rgb(235, 87, 87, 0.4);
  font-size: 0.8rem;
  text-align: center;
  line-height: 14px;
}

.invalid {
  border-color: $main-color;
}
